html,
body {
    margin:0;
    padding:0;
    height:100%;
    font-family: 'Montserrat', sans-serif;
}
.bgappto{
  width: 100%;
  background-image: url('../img/apptobg.svg');
  background-size: cover;
  background-position: bottom;
  height: 800px;
  position: absolute;
  background-repeat: no-repeat;
}
#container {
    min-height:100%;
    position:relative;
}
#header {
    padding: 0px;
}
#body {
    padding:10px;
    padding-bottom:30px;   /* Height of the footer */
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;   /* Height of the footer */
}
.content-margins {
  margin-top: 130px;
}
.firstmargin {
  margin-bottom: 100px;
}
.sect1 {
  background: linear-gradient(to left, rgb(198, 195, 218), rgba(45, 63, 219, 0.582));

}
.btn0 {
    /*background: linear-gradient(to left, #00CCE4, #4643F6 );*/
    background: linear-gradient(to left, rgb(68, 87, 255), #795BE2 );

    color: rgb(255, 255, 255);
    box-shadow: 0 7px 14px 0 rgba(13, 13, 15, 0.1),
                0 3px 6px 0 rgba(43, 36, 36, 0.08);
    border-radius: 29px;
    border: 0;
    font-size: 23px;
    font-weight: 400;
    line-height: 38px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.text-gradient {
    color: #f5f5f5 ;
  }
.bubble {
    margin: 10px 0 10px 0;
    background: #B6E2FF;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 5px 10px 1px rgba(28, 28, 39, 0.1);
  }
.bubble1 {
    background: white;
    border-radius: 20px;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px 5px rgba(28, 28, 39, 0.1);
  }
.sales {
  margin-top: 60px;
  padding: 30px;
  background: linear-gradient(to left, rgb(68, 87, 255), #795BE2 );
}
.foo {
  background: #F4F4F4;
  }
.foo p {
  color: grey;
}

.tittle-font {
  font-size: 57px;
}
.sub-font {
  font-size: 20px;
  color: white;
}
.mrg-text {
  margin-top: 170px;
  font-size: 18px;
  line-height: 32px;
}
.space1 {
  margin-bottom: 200px;
}
.ahorra {
  margin-top: 50px;
  margin-bottom: 30px;
}
.function1 {
  margin-top:50px;
}
.sales-p {
  font-size: 30px;
}
.sales-h3 {
  font-size: 50px;
}

  /*Responsive */
  @media screen and (max-width: 1205px) {
    .tittle-font {
      font-size: 50px;
    }
    .sub-font {
      font-size: 20px;
      color: white;
    }
    .mrg-text {
      margin-top: 200px;
      font-size: 18px;
      line-height: 32px;
    }
    .mrgimg {
      margin-top: 130px;
    }
    .space1 {
      margin-bottom: 150px;
    }
    .sales-p {
      font-size: 25px;
    }
    .sales-h3 {
      font-size: 43px;
    }
  }

  @media (max-width: 992px) {
    .mrg-text {
      margin-top: 200px;
      font-size: 14px;
      line-height: 32px;
    }
    .mrgimg {
      margin-top: 200px;
    }
    .tittle-font {
      font-size: 40px;
    }
    .sub-font {
      font-size: 20px;
      color: white;
    }
    .space1 {
      margin-bottom: 150px;
    }
  }

  @media (max-width: 768px) {
    .mrg-text {
      margin-top: 150px;
      font-size: 18px;
      line-height: 32px;
    }
    .mrg-img{
      margin-top: 150px;
    }
    .tittle-font {
      font-size: 30px;
    }
    .sub-font {
      font-size: 18px;
      color: white;
    }
    .space1 {
      margin-bottom: 150px;
    }
    .sales-p {
      font-size: 20px;
    }
    .sales-h3 {
      font-size: 35px;
    }
  }

  @media (max-width: 575px) {
    .mrg-text {
      margin-top: 170px;
      font-size: 18px;
      line-height: 32px;
    }
    .mrg-img{
      margin-top: 0;
    }
    .tittle-font {
      font-size: 25px;
    }
    .sub-font {
      font-size: 17px;
      color: white;
    }
    .space1 {
      margin-bottom: 140px;
    }
    .sales-p {
      font-size: 15px;
    }
    .sales-h3 {
      font-size: 30px;
    }
  }

  /* ANIMATIONS */
  @keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }

  @-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }

  .animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
  }

  .animatedFadeInUp {
    opacity: 0
  }

  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }
  /* END ANIMATIONS */
